:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    margin: 0 auto;
    padding: 0 !important;
    text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  padding: 0;
  margin: 0;
  text-shadow: black 0px 0px 10px;
}


header{
  height: 100px;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8b3BlbiUyMGJvb2tzfGVufDB8fDB8fHww);
  background-position: center;
  background-size: cover;
  margin: 0;
  align-content: center;
}


table{
  margin: auto;
  width: 715px;
  background-color: #ffffff;
  padding: 15px;
  color: black;
  border: 2px black solid;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

th{
  background-color: #535bf2;
  color: white;
}

tr:nth-child(even) {background-color: #e6e6e6;}

input{
  width: 300px;
  margin: 15px;
  padding: 4px 9px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  color: black;
}